@font-face {
  font-family: 'lareira-icons';
  src: url('../font/lareira-icons.eot?30492787');
  src: url('../font/lareira-icons.eot?30492787#iefix') format('embedded-opentype'),
       url('../font/lareira-icons.woff2?30492787') format('woff2'),
       url('../font/lareira-icons.woff?30492787') format('woff'),
       url('../font/lareira-icons.ttf?30492787') format('truetype'),
       url('../font/lareira-icons.svg?30492787#lareira-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'lareira-icons';
    src: url('../font/lareira-icons.svg?30492787#lareira-icons') format('svg');
  }
}
*/
[class^="laricon-"]:before, [class*=" laricon-"]:before {
  font-family: "lareira-icons";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.laricon-left-big:before { content: '\e800'; } /* '' */
.laricon-down-big:before { content: '\e801'; } /* '' */
.laricon-right-big:before { content: '\e802'; } /* '' */
.laricon-up-big:before { content: '\e803'; } /* '' */
.laricon-right-hand:before { content: '\e804'; } /* '' */
.laricon-left-hand:before { content: '\e805'; } /* '' */
.laricon-up-hand:before { content: '\e806'; } /* '' */
.laricon-attention:before { content: '\e807'; } /* '' */
.laricon-attention-circled:before { content: '\e808'; } /* '' */
.laricon-login:before { content: '\e809'; } /* '' */
.laricon-logout:before { content: '\e80a'; } /* '' */
.laricon-info-circled:before { content: '\e80b'; } /* '' */
.laricon-help-circled:before { content: '\e80c'; } /* '' */
.laricon-print:before { content: '\e80d'; } /* '' */
.laricon-down-dir:before { content: '\e80e'; } /* '' */
.laricon-up-dir:before { content: '\e80f'; } /* '' */
.laricon-left-dir:before { content: '\e810'; } /* '' */
.laricon-right-dir:before { content: '\e811'; } /* '' */
.laricon-down-open:before { content: '\e812'; } /* '' */
.laricon-left-open:before { content: '\e813'; } /* '' */
.laricon-right-open:before { content: '\e814'; } /* '' */
.laricon-up-open:before { content: '\e815'; } /* '' */
.laricon-eye:before { content: '\e816'; } /* '' */
.laricon-eye-off:before { content: '\e817'; } /* '' */
.laricon-cog:before { content: '\e818'; } /* '' */
.laricon-cog-alt:before { content: '\e819'; } /* '' */
.laricon-wrench:before { content: '\e81a'; } /* '' */
.laricon-adjust:before { content: '\e81b'; } /* '' */
.laricon-location:before { content: '\e81c'; } /* '' */
.laricon-alert:before { content: '\e81d'; } /* '' */
.laricon-lock:before { content: '\e81e'; } /* '' */
.laricon-lock-open:before { content: '\e81f'; } /* '' */
.laricon-user:before { content: '\e820'; } /* '' */
.laricon-mail:before { content: '\e821'; } /* '' */
.laricon-flow-branch:before { content: '\e822'; } /* '' */
.laricon-twitter:before { content: '\f099'; } /* '' */
.laricon-github-circled:before { content: '\f09b'; } /* '' */
.laricon-menu:before { content: '\f0c9'; } /* '' */
.laricon-mail-alt:before { content: '\f0e0'; } /* '' */
.laricon-angle-left:before { content: '\f104'; } /* '' */
.laricon-angle-right:before { content: '\f105'; } /* '' */
.laricon-angle-up:before { content: '\f106'; } /* '' */
.laricon-angle-down:before { content: '\f107'; } /* '' */
.laricon-quote-left:before { content: '\f10d'; } /* '' */
.laricon-quote-right:before { content: '\f10e'; } /* '' */
.laricon-github:before { content: '\f113'; } /* '' */
.laricon-gamepad:before { content: '\f11b'; } /* '' */
.laricon-keyboard:before { content: '\f11c'; } /* '' */
.laricon-help:before { content: '\f128'; } /* '' */
.laricon-info:before { content: '\f129'; } /* '' */
.laricon-angle-circled-left:before { content: '\f137'; } /* '' */
.laricon-angle-circled-right:before { content: '\f138'; } /* '' */
.laricon-angle-circled-up:before { content: '\f139'; } /* '' */
.laricon-angle-circled-down:before { content: '\f13a'; } /* '' */
.laricon-lock-open-alt:before { content: '\f13e'; } /* '' */
.laricon-apple:before { content: '\f179'; } /* '' */
.laricon-windows:before { content: '\f17a'; } /* '' */
.laricon-linux:before { content: '\f17c'; } /* '' */
.laricon-bug:before { content: '\f188'; } /* '' */
.laricon-mail-squared:before { content: '\f199'; } /* '' */
.laricon-steam:before { content: '\f1b6'; } /* '' */
.laricon-steam-squared:before { content: '\f1b7'; } /* '' */
.laricon-git:before { content: '\f1d3'; } /* '' */
.laricon-sliders:before { content: '\f1de'; } /* '' */
.laricon-share:before { content: '\f1e0'; } /* '' */
.laricon-share-squared:before { content: '\f1e1'; } /* '' */
.laricon-commenting:before { content: '\f27a'; } /* '' */
.laricon-commenting-o:before { content: '\f27b'; } /* '' */
.laricon-microchip:before { content: '\f2db'; } /* '' */
.laricon-github-squared:before { content: '\f300'; } /* '' */
.laricon-twitter-squared:before { content: '\f304'; } /* '' */
