body,
html {
    background: #d3d3d3;
    color: #000;
    font-family: 'Sen', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Sen', sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
    color: #999;
    font-weight: 700;
}

p {
    font-family: 'Sen', sans-serif;
}

/* SECTIONS */
.menu {
    padding: 50px 0px 50px 0px;
    background: #FFF;
}

.software {
    padding-top: 50px;
}

/* CLASSES */
.menuitem {
    font-size: 2rem;
    text-decoration: none;
    color: #999;
    font-weight: bold;
}

.menuitem:hover {
    color: #333;
}

.intro-text {
    padding: 50px;
}

/* MAIN NAV */
.main-nav {
    color: #999;
}

.main-nav a {
    text-decoration: none;
    color: #999;
    font-weight: bold;
    font-size: 1.3rem;
}

.main-nav a:hover {
    color: #333;
}

/* HOVER CUSTOMIZATIONS */
.hvr-underline-from-left::before {
    background: #333;
}