{% extends "_base.html" %}
{% block content %}
<div class="container-fluid bluebg">
    <div class="container-fluid">
        <a href="/index.html"><img src="/static/img/lareira-logo.png" class="logo" /></a>
    </div>
    <div class="container-fluid">
        <h1 class="hello">Lareira Digital / <strong>About us</strong></h1>
        <h2 class="shortdesc">Our story (as short as it is) from then to now.</h2>
    </div>
</div>
<div class="container-fluid maincontent">
    <div class="container">
        <p>Lareira Digital was funded by Oscar Carballal Prego on April 2022 with the idea of being
            an open source agency that would promote and strengthen the open source position not only in
            Spain but also in Europe. The idea was to have two sides of the coin. One, a corporate side
            that would put the vast years of experience to help other businesses and second, allow
            a space for software and hardware research and pure innovation.</p>

        <p>On the first few months of existence we already got our first client (Hapimag AG) which
            enabled us to start delivering on the first front (software agency). During the next months
            we were able to put back some of that effort into our own projects, namely AVOA and Atuin
            which try to tackle some of the problems of the current convoluted tech stacks available.
        </p>

        <p>During that time we also engaged in other activites of public interest, for example
            videogame development, supporting the Global Game Jam events alongside other efforts
            from the local community like LevelUP.
        </p>

        <p>END OF LINE</p>
    </div>
</div>
{% endblock %}