{% extends "_base.html" %}
{% block content %}
<div class="container-fluid bluebg">
    <div class="container-fluid">
        <a href="/index.html"><img src="/static/img/lareira-logo.png" class="logo" /></a>
    </div>
    <div class="container-fluid">
        <h1 class="hello">Lareira Digital / <strong>Contributions</strong></h1>
        <h2 class="shortdesc">All we gave back to the community in some way.</h2>
    </div>
</div>
<div class="container-fluid maincontent">
    <div class="container">
        <h3>2023-07-20 Codeberg e.V.</h3>
        <p>We have become supporting members of Codeberg e.V. pledging 500 euros yearly to the development
            of a European based git forge. Please note: as per Codeberg e.V. regulation, supporting members
            are not active and have no decision capability in any way.</p>
    </div>
</div>
{% endblock %}