{% extends "_base.html" %}
{% block content %}
<div class="hero">
    <section class="banner">
        <header>
            <h3>Kit Digital</h3>
            <p>¿En qué te podemos ayudar?</p>
        </header>
    </section>
</div>
<div class="container services">
    <div class="grid">
        <div class="service">
            <i class="icon-connectdevelop bgred"></i>
            <h3>Gestión de procesos</h3>
            <p>¿Necesitas una plataforma o programa para gestionar tus procesos? No dudes en contactarnos!
            Hemos realizado proyectos desde simples intranets a sistemas de gestión y formulación farmacéutica, pasando
            por plataformas que cubren necesidades puntuales.</p>
        </div>
        <div class="service">
            <i class="icon-chart-area bggreen"></i>
            <h3>Business Intelligence</h3>
            <p>De nada sirve tener datos que no puedes interpretar o utilizar. Aplicando técnicas analíticas,
            mejorando la recogida de métricas y sabiendo interpretar los datos podrás mejorar y optimizar tus procesos
            de negocio!
            </p>
        </div>
        <div class="service">
            <i class="icon-linux bgblack"></i>
            <h3>Ciberseguridad</h3>
            <p>Estamos bien versados en la seguridad de sistemas. Docker, Kubernetes, *BSD, *Nix... si te quieres
            tomar la seguridad de tu negocio en serio, consúltanos.</p>
        </div>
    </div>
</div>
<div class="container-fluid clients">
    <img src="/static/img/Faldon_Plataforma_Logotipos.png" style="display:block;margin:auto;"/>
</div>
{% endblock %}