{% extends "_base.html" %}
{% block content %}
<div class="hero">
    <section class="banner">
        <header>
            <h3>Latest news!Services</h3>
            <p>What services do we offer</p>
        </header>
    </section>
</div>
<div class="container">
    <div class="post">
        <h3 class="post-title">PyConES 2024 has ended</h3>
        <span class="post-date">October 8, 2024</span>
        <div class="post-data">
            <img src="/static/img/news/pycones2024.jpg" style="float:left;width: 500px;padding: 30px 30px 0px 0px;" />
            <p>#PyConES2024 has finished! It has been a blast and we are really grateful to Python Vigo and Python España for accomodating us as sponsors of this event. As many of you know, Python is at the core of almost all out technologies and part of our company mission is to return to the community as much as possible.</p>
            <p>During the last three days we've met a lot of new people (shoutout Raiola Networks and Auth0!) and met with old aquantainces (Innatial Developers) that we consider examples of thing swe want to achieve. We've also met many new awesome candidates for our open positions and we'll be contacting them soon! We really do hope that PyConES continues on this path and that we can be sponsors again in future years.</p>
        </div>            
    </div>
    <div class="post">
        <h3 class="post-title">We're sponsors of PyConES 2024!</h3>
        <span class="post-date">April 1, 2024</span>
        <div class="post-data">
            <img src="/static/img/logo_pycones2024.png" style="float:left;width: 300px;padding: 30px 30px 0px 0px;" />
            <p>We've become proud sponsors of the PyConES 2024 (no, it's not an April Fool's joke!), this year we'll put all our efforts into the biggest spanish python conference. Come visit us at our booth! We'll be there with many experts in the field of AI and other areas that are in full blown expansion currently.</p>
            <p>During the three days of the conference, we'll be at our booth explaining to you what do we do (and if you're curious maybe how we do it) so feel free to come by, have a talk with us and take some merch back with you!</p>
        </div>            
    </div>
    <div class="post">
        <h3 class="post-title">Sponsoring Global Game Jam 2024</h3>
        <span class="post-date">January 1, 2024</span>
        <div class="post-data">
            <img src="/static/img/news/hobbypont.png" style="float:left;width: 500px;padding: 30px 30px 0px 0px;" />
            <p>Once again, here we are promoting game development! For the third year we are proud sponsors of the Global Game Jam event organized by HobbyPont in Pontevedra! The last few years have been amazing but we are still convinced that we can make it better!</p>
            <p>For this year 2024 we'll be stepping up our support with redundant infrastructure as well as a lot of goodies! Feel free to join in! https://globalgamejam.org/jam-sites/2024/hobbypont-ggj</p>
        </div>            
    </div>
    <div class="post">
        <h3 class="post-title">Codeberg e.V. members</h3>
        <span class="post-date">July 20, 2023</span>
        <div class="post-data">
            <img src="/static/img/logo_codeberg_header.png" style="float:left;width: 300px;padding: 30px 30px 0px 0px;" />
            <p>We have become members of the Codeberg e.V. organization that takes care of building a competitive european forge (codeberg.org) as well as taking care of the Forgejo project that make sit possible. Our values as a company align very well with their mission of delivering an open and competitive alternative to other platforms out there.</p>
            <p>We know that there are other alternatives out there like GitLab and SourceHut (we actually support them as well in a different capcity!) but they don't align with some of our values and requirements yet.</p>
        </div>            
    </div>
    
</div>
{% endblock %}