{% extends "_base.html" %}
{% block content %}
<div class="container-fluid bluebg">
    <!-- <div class="container-fluid">
        <a href="/index.html"><img src="/static/img/lareira-logo.png" class="logo" /></a>
    </div> -->
    <div class="container-fluid">
        <h1 class="hello">Lareira Digital / <strong>Services</strong></h1>
        <h2 class="shortdesc">What can Lareira Digital offer you?</h2>
    </div>
</div>
<div class="container-fluid maincontent">
    <div class="grid">
        <div>
            <h6>Software consultancy</h6>
            <p>We help you determine the best solutions for your company needs</p>
        </div>
        <div>
            <h6>Software development</h6>
            <p>We have the capabilities to develop custom software tailored to your needs</p>
        </div>
        <div>
            <h6>Software consultancy</h6>
            <p>We help you determine the best solutions for your company needs</p>
        </div>
    </div>
    <h3>Our expertise</h3>
    <div class="grid">
        <div>AWS</div>
        <div>Google Cloud</div>
        <div>Kubernetes</div>
        <div>DevOps</div>
        <div>SecOps</div>
        <div>Bare metal</div>
    </div>
    <div class="grid">
        <div>Python</div>
        <div>FastAPI</div>
        <div>Django</div>
        <div>Toit</div>
        <div>ESP32</div>
        <div>RPi2040</div>
    </div>
    <div class="grid">
        <div>Automation</div>
        <div>*Nix systems</div>
        <div>*BSD systems</div>
        <div>test</div>
        <div>ESP32</div>
        <div>RPi2040</div>
    </div>
</div>
{% endblock %}