{% extends "_base.html" %}
{% block content %}
<div class="hero">
    <section class="banner">
        <header>
            <h3>Services</h3>
            <p>What services do we offer</p>
        </header>
    </section>
</div>
<div class="container">
    <div class="grid">
        <div>
            <h3>Solution design</h3>
            <p>We will help you design the best solution for your needs, we have a team with experience in many areas of software and hardware development that can talk with you</p>
        </div>
        <div style="margin:auto;"><img class="serviceimage" src="/static/img/services_design.png" /></div>
    </div>
    <div class="grid">
        <div style="margin:auto;"><img class="serviceimage" src="/static/img/services_development.png" /></div>
        <div>
            <h3>Software development</h3>
            <p>Some of us have over 20 years of experience developing software in multiple sectors, so we can help you build your solution with the best quality, following industry standards.</p>
        </div>
    </div>
    <div class="grid">
        <div>
            <h3>Infrastructure and operations</h3>
            <p>Software services without a proper infraes</p>
        </div>
        <div style="margin:auto;"><img class="serviceimage" src="/static/img/services_devops.png" /></div>
    </div>
    <h3>Our expertise</h3>
    <div class="grid">
        <div>AWS</div>
        <div>Google Cloud</div>
        <div>Kubernetes</div>
        <div>DevOps</div>
        <div>SecOps</div>
        <div>Bare metal</div>
    </div>
    <div class="grid">
        <div>Python</div>
        <div>FastAPI</div>
        <div>Django</div>
        <div>Toit</div>
        <div>ESP32</div>
        <div>RPi2040</div>
    </div>
    <div class="grid">
        <div>Automation</div>
        <div>*Nix systems</div>
        <div>*BSD systems</div>
        <div>Embedded</div>
        <div>Neo4J</div>
        <div>MongoDB</div>
    </div>
</div>
{% endblock %}