{% extends "_base.html" %}
{% block content %}
<div class="grid" style="margin-top:75px;">
    <div></div>
    <div id="logo"><img src="/static/img/lareira-logo.png" class="reversible logo" /></div>
    <div></div>
</div>
<div class="grid">
    <div>
        <h1 style="text-align: center;font-size: 3.5rem;padding-top:30px;line-height: 3.5rem;"><span class="text-light">Hi! You're looking at</span> <strong>Lareira Digital</strong></h1>
    </div>
</div>
<div class="grid">
    <div>
        <h3 style="text-align: center;">An open source software consultancy, among other things.</h3>
    </div>
</div>
<script>
    setActiveMenu(document.querySelector('a#home'));
</script>
{% endblock %}